@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.dropdown {
  @apply absolute right-0 top-full w-full  rounded-b-lg bg-white  ;
}

.pageTitle {
  @apply mb-6 mt-3  sm:mb-12 text-secondaryColor font-workSans font-bold text-4xl;
}