@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Viaoda+Libre&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}